body,html{
  background-color: black;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  font-style: normal;
}
.navbar{
  background-color: transparent !important;
  color: white;
}
.navmain{
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  z-index: 1;

}
.altarnavbar{
  background: black;
  padding: 2% 5%;



}
.main{
  position: relative;
  width: 100%;
  height: 100vh;
  border: black solid 3px;
}
.mountains{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99vh;
  background-position:10%;
  background-size: cover;
}

.clouds{
  position: absolute;
  /* background-image: url('../images/clouds.png'); */
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: cloudsanimate linear infinite 120s;
}
.logo{
  max-width: 65%;
  margin: 0;
   position: absolute;
   top: 45%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   border-radius: 10px;
}
.logoheading{
  position: absolute;
  /* color: #d5def5; */
  color: white;
  bottom: 10%;
  left: 50%;
  width: auto;
  font-size: 1.2rem;
  transform: translate(-50%);
  border:3px solid white;
  padding: 8px;
  border-radius: 8px
}
.content{
  /* background-image: linear-gradient(to right, #051937, #002844, #00374c, #004551, #085353); */
  /*background-image: linear-gradient(to right, #b56492, #9a578c,  #7f4b84, #62407b, #433671, #343c76, #214178, #004679, #005b88, #00708f, #008390, #0f968d) !important;*/
/*   background-image: linear-gradient(to right bottom, #5b183e, #521743, #471848, #3a194c, #291b4f, #252d63, #1b3e76, #005088, #0079ae, #00a4cc, #00d0e2, #5ffbf1);*/
background-image: linear-gradient(to right, #3b0339, #390140, #350048, #2f0050, #240359);
}
.card{
	background-color: transparent !important;
	border: solid 3px white;
	
}
.card-title{
	color:white;
}
hr{
	border:white 2px solid;
}
@keyframes cloudsanimate {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 4000px;
  }
}

@media (min-width:992px) {
  .logo{
    max-width: 45%;
  }
  .logoheading{
    font-size: 1.3rem;
  }

.altarnavbar{
  background:  transparent !important;
  justify-content: end;

}
.navmain{
  padding-left:55px;
  padding-right: 25px;
}
}
